[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
celery = "*"
redis = "*"
python-dotenv = "*"
Flask-SendGrid = "*"
Flask-Mail = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"
watchdog = "*"

[requires]
python_version = "3.5"
